.dashboard {
  padding: 0 11rem;
}
.search-input {
  padding: 24px;
}
.button {
  margin-left: auto;
  width: 20rem;
}
.dashboard-search {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  width: 66.4rem;
  display: block;
  &::placeholder {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #c4c4c4;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-top: 3.2rem;
}

@media (max-width: 1400px) {
   .dashboard {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    margin-left: 0;
  }
  .dashboard-search {
    width: 23.4rem;
    display: block;
    &::placeholder {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      color: #c4c4c4;
    }
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
 
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 850px) {
  .products {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
